body{
  background-color: #fd94ad;
  color : brown;
}
#root {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: smaller;
}
/* #nav {
  width: auto;
  height: 75px;
  background-color: rgb(241, 252, 229);
} */
