body{
  background-image: url(https://cdn.pixabay.com/photo/2017/08/10/02/05/tiles-shapes-2617112_960_720.jpg);
  color : rgb(131, 16, 139);
}
#root {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: smaller;
}
#boxBody {
  width: 280px;
  height: 350px;
  display:flex;
  flex-direction: column;
  background-color: rgb(230, 252, 243);
  margin: 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1.5px solid black;
  border-radius: 4px;
}
#title{
  text-align: center;
  color: coral;
  background-color: rgb(178, 250, 202);
  border:1px solid #e6f7b0 ;
  border-radius: 7px;
  padding: 1px;
}
#para{
  font-family:  'Arial Narrow Bold', sans-serif;
  font-size: 12px;
  margin: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;

}
 #search-bar {
  width: auto;
  height: 75px;
} 
#search {
  width: 40%;
  height: 23px;
  position: relative;
  left: 280px;
  top: 25px;
  border-radius: 10px;
  background-color: rgb(205, 223, 255);
}
#display{
  border:1px solid rgb(248, 248, 253);
  width: 10% ;
  height:23px ;
  position: relative;
  left: 700px;
  bottom: 47px;
  background-color: rgb(255, 245, 245);
  border-radius: 7px;
  border-bottom: 1.5px dotted rgb(253, 16, 182);
}
#list{
  position: relative;
  bottom: 3px;
  left: 80px;
  width: 180px;
  height: 26px;
  background-color: rgb(205, 223, 255);
}

